@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #f50330;
  --color-primary-dull: #ff002f;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  background-color: #230e0e;
  color:white
  
}


.no-scrollbar{
  scrollbar-width: none;
}